html {
	background-color:#D1B9EA;
	height: 100%;
	width:100%;

}

body {
	background-color:#D1B9EA;
	height: 100%;
	width:100%;
	text-align:center;
}

p {
	font-family: sans-serif;
	font-size:14pt;
}

td:hover {
  background-color: #E2E2E2;
  color: #000000;
}

td {
	border-style:none;
	border-width:1px;
	width:15%;
	text-align:center;
	padding:5px;
}

td img { 
	height:auto;
}

table{
	padding:5px;
	background-color:#B5A1CC;
	border-style:none;
	margin-bottom:5px;
}
tr {
	/*background-color:#D3CA94;*/
	border-style:solid;
	border-color:#B5A1CC;
}
img {
	max-height:100%;
	max-width: 100%;
	/*padding:5px;*/
	margin:5px;
	border-style:solid;
	border-width:3px;
	border-color:#895B35;
}
h1{
	font-family:cursive;
	font-size:36pt
}
div {
	background-color:#D1B9EA;
}
a {
	color:#D5D4D6;
}
a:hover {
	color:#D5D4D6
}
a:active {
	color:#D5D4D6
}
a:visited{
	color:#D5D4D6
}
/*
div {
	border-style:dashed;
	border-width:2px;
}
*/
.body{
	width:80%;
	align:center;
}
.menubar{
	border-style:solid;
	border-color:#B5A1CC;
	border-radius:5px;
	/*overflow:hidden;*/
	min-height:60px;
	width:100%;
	float:left;
}
.menu-option{
	float:left;
	/*border-radius:5px;*/
	width:16%;
	min-height:60px;
	justify-content:center;
	display:flex;
	align-items:center;
	border-style:solid;
	border-color:#B5A1CC;
	font-color:#D5D4D6;
	background-color:#B5A1CC;
}
.menu-option:hover{
	background-color:#D1B9EA;
}
.current-menu-option{
	float:left;
	/*border-radius:5px;*/
	width:16%;
	min-height:60px;
	justify-content:center;
	display:flex;
	align-items:center;
	border-style:solid;
	border-color:#B5A1CC;
	font-color:#D5D4D6;
	background-color:#D1B9EA;
}
.current-menu-option:hover{
	background-color:#D1B9EA;
}
.back-button{
	float:right;
	/*border-radius:5px;*/
	width:20%;
	min-height:60px;
	justify-content:center;
	display:flex;
	align-items:center;
	border-style:solid;
	border-color:#B5A1CC;
	font-color:#D5D4D6;
	background-color:#B5A1CC;
}
.back-button:hover{
	background-color:#D1B9EA;
}
.recent {
	float:right;
}
.welcome {
	float:left;
}
.recent-picture{
	width:90%;
}
.picture{
	align:right;
}
.photo{
	margin-right:10px;
}
.navbar{
	background-color:#B5A1CC;
	border-style:solid;
	border-color:#B5A1CC;
}
.clear{
	background-color:#D1B9EA;
	border-radius:5px;
}
/*
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
	color:#555;
	cursor:default;
	background-color:#D1B9EA;
	border:1px solid #D1B9EA;
	border-bottom-color:transparent;
}
*/
.thumb {
	width:90%;
}
.btn {
	background-color:#FCEE85;
	color:black;
	border-color:#B5A1CC;
	border-width:1px;
}

.btn.active {
	z-index:2;
	background-color:#F4E581;
	border-color:#B5A1CC;
	color:black;
}
.title {
	font-size:16pt;
}
.description {
	text-align:center;
	display:inline;
	font-size:12pt;
}
.placeholder {
	min-width:120px;
	min-height: 120px;
	width:25%;
}

.paragraph {
	text-indent:2em;
	text-align:left;
}

.portrait {
	background-color:transparent;
	height:70%;
	text-align:center;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
    vertical-align: top;
}
.back-button {
	float:left;
	vertical-align:center;
}
.credit {
	font-size:10pt;
	text-align:left;
}
.works-body {
	margin-top:10px;
	border-radius:25%;
}
.site-body {
	margin-top:10px;
}
.home-text {
	font-size:12pt;
	text-align:left;
}
.normal-link {
	color:#0000EE;
}